<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <style>
        body {
            margin: 20pt;
            padding: 20pt;
        }

        .imageContainer {
            text-align: center;
        }
    </style>
    <meta charset='UTF-8'/>
    <title>{{ Title }}</title>
</head>
<body>

<p style="font-style:italic">Hello!</p>

<div class="imageContainer">
    <img alt='{{ Base64LogoAlt }}' src='data:image/jpg;base64, {{ Base64Logo }}'/>
</div>

</body>
</html>